

body{ background-color: #151515; overflow:hidden;
      background-image: url("old_paper_background.jpg")}

.foot {
  width:26px;  height:11px;
  color: #151515;
  position:absolute;
  opacity:0.7;
  background-image:url("shoeblack1.png");
  background-size:100% 100%;
  
  
  
}