body {
  height: 100%;
  background: url("old_paper_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

td {
  width: 20rem;
  text-align: center;
  /* margin-left: 3rem; */
  /* margin-right: 3rem; */
}

div#score {
  position: relative;
  float: left;
  top: 0px;
}

div#lives {
  position: relative;
  float: right;
  top: 0px;
}

div#see_leaderboard {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

div.quiz-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

p#question.fadeInOut {
  -webkit-animation: fadeInOut 3.5s;
  animation: fadeInOut 3.5s;
}

p#question {
  animation-name: none;
}

p#question.fadeIn {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

p#question.fadeInOut {
  -webkit-animation: fadeInOut 3.5s;
  animation: fadeInOut 3.5s;
}

button#submit {
  animation-name: none;
}

button#submit.fadeIn {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

input#name {
  animation-name: none;
}

input#name.fadeIn {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
